---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Методики" description="Подходы и методы, используемые в терапии.">
  <h1>Методики</h1>
  <p>Краткие описания: КПТ, ACT, практики осознанности, работа с эмоциями и др. В будущем раздел может стать структурированной коллекцией материалов.</p>
</Layout>
