---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Телетерапия" description="Дистанционные сессии: формат и требования.">
  <h1>Телетерапия</h1>
  <p>Регионы действия лицензии (будет уточнено), безопасность платформы, технические требования (устойчивый интернет, камера/аудио), ограничения и рекомендации.</p>
</Layout>
