---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Профессиональное и эмоциональное выгорание" description="Поддержка при хроническом стрессе, истощении и чувстве перегруженности.">
  <h1>Выгорание и стресс</h1>
  <p>Описание типичных паттернов хронического стресса, перегрузки нервной системы, рассогласования с ценностями и стратегий восстановления темпа, отдыха, перераспределения ресурсов.</p>
</Layout>
