---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Депрессивные состояния" description="Поддержка при снижении настроения, утрате удовольствия и связанных трудностях.">
  <h1>Депрессивные состояния</h1>
  <p>Информация о спектре настроения, принципах поведенческой активации, характерных когнитивных искажениям и совместном формировании терапевтических целей.</p>
</Layout>
